@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'doggo';
  src: url('../public/fonts/doggo_font.ttf');
  font-display: swap;
}

.special-bg {
  background-repeat: repeat;
  background-position-x: center;
  background-position-y: top;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff1a),
    url('/images/pattern-doggo.png') !important;
}

.list-tick {
  list-style-image: url('/images/tick.svg');
}
